html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    background-color: aliceblue;
    align-content: center;
    align-items: center;
}

.header-main {
    width: 100%;
    height: 80px;
    background-color: rgb(49, 49, 49);
}

.heading {
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-weight: bolder;
    text-align: center;
    vertical-align: middle;
    line-height: 80px;
}

.hero-main {
    height: 600px;
    width: 100%;
    background-image: url("https://cdn.discordapp.com/attachments/1027029690327765054/1288867312421572638/file-meMMHrGln574RXjN4qwyIZQw.png?ex=66f6beb9&is=66f56d39&hm=1872d513428a6315a499092710d71ffe7481c4d1dae14056aa4c90e63f7757b4&");
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    color: aliceblue;
    display: flex;
    align-items: center; 
    padding-left: 35px;
    overflow: hidden;
}

.hero-main h1 {
    

}

.body-main {
    margin: 0 auto;
    width: 90%;
    height: auto;
    background-color: antiquewhite;
}

.review-list {
    width: 90%;
    margin: auto;
    
}

.footer {
    width: 100%;
    height: 30px;
    background-color:rgb(49, 49, 49);
}

.footer-info {
    color: aliceblue;
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
}