body {
    background-color: aliceblue;
    align-content: center;
    align-items: center;
}

.header-main {
    width: 100%;
    height: 80px;
    background-color: rgb(49, 49, 49);
}

.heading {
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-weight: bolder;
    text-align: center;
    vertical-align: middle;
    line-height: 80px;
}

.hero-main {
    height: 70px;
    width: 100%;
    background-image: url("https://files.oaiusercontent.com/file-meMMHrGln574RXjN4qwyIZQw?se=2024-09-26T14%3A14%3A17Z&sp=r&sv=2024-08-04&sr=b&rscc=max-age%3D604800%2C%20immutable%2C%20private&rscd=attachment%3B%20filename%3Da48661e9-1712-44b8-9793-1c59dc8430e5.webp&sig=AYM8Rmu8B7OkLRijgsKIaWuQZ5kG6Z6pGYr0VbJi9og%3D");
    background-repeat: no-repeat;
    background-size: cover;
}

.body-main {
    margin: 0 auto;
    width: 90%;
    height: auto;
    background-color: antiquewhite;
}

.review-list {
    width: 90%;
    margin: auto;
    
}

.footer {
    width: 100%;
    height: 30px;
    background-color:rgb(49, 49, 49);
}

.footer-info {
    color: aliceblue;
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
}